@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.eot');
    src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff'),
        url('../fonts/Raleway-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraLight.eot');
    src: url('../fonts/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraLight.woff') format('woff'),
        url('../fonts/Raleway-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Thin.eot');
    src: url('../fonts/Raleway-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Thin.woff2') format('woff2'),
        url('../fonts/Raleway-Thin.woff') format('woff'),
        url('../fonts/Raleway-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Light.eot');
    src: url('../fonts/Raleway-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Light.woff2') format('woff2'),
        url('../fonts/Raleway-Light.woff') format('woff'),
        url('../fonts/Raleway-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.eot');
    src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff'),
        url('../fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Raleway-Regular.woff2') format('woff2'),
        url('../fonts/Raleway-Regular.woff') format('woff'),
        url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'slick';
    src: url('../fonts/fonts/slick.eot');
    src: url('../fonts/slick.eot?#iefix') format('embedded-opentype'),
        url('../fonts/slick.woff2') format('woff2'),
        url('../fonts/slick.woff') format('woff'),
        url('../fonts/slick.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* colors */
:root {
    --main-blue: #00e1ff;
    --main-white: #ffffff;
    --dark-grey: #3f4244;
    --light-grey: #929ba0;
}
/* resets */
* {
    outline: none;
    box-sizing: border-box;
}
body, button {
    font-family: 'Raleway';
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body,h1,h2,h3,h4,h5,h6,p,ul{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
.container {
    width: 1170px;
    margin: 0 auto;
}
/* fonts weights */
.font-regular {
    font-weight: 400;
}
.font-thin {
    font-weight: 100;
}
.font-light {
    font-weight: 300;
}
.font-extraLight {
    font-weight: 200;
}
.font-medium {
    font-weight: 500;
}
.font-bold {
    font-weight: 700;
}
/* font-sizes */
.font-size-13 {
    font-size: 13px;
}
.font-size-15 {
    font-size: 15px;
}
.font-size-17 {
    font-size: 17px;
}
.font-size-20 {
    font-size: 20px;
}
.font-size-40 {
    font-size: 40px;
}
/* display-classes */
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-around {
    justify-content: space-around;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.flex-column {
    flex-direction: column;
}
/* text and background colors */
.text-white {
    color: var(--main-white);
}
.text-blue {
    color: var(--main-blue);
}
.text-dark-grey {
    color: var(--dark-grey);
}
.text-light-grey {
    color: var(--light-grey);
}
.bg-dark-grey {
    background-color: #252726;
}
.bg-white {
    background-color: var(--main-white);
}
.bg-dim-grey {
    background-color: #131316;
}
.bg-light-grey {
    background-color: #f7f7f7;
}
.bg-transparent {
    background-color: transparent;
}
/* others */
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.borderless {
    border: none;
}
.rounded {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.transitioned {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-capitalize {
    text-transform: capitalize;
}
.text-center {
    text-align: center;
}
.pointer {
    cursor: pointer;
}
.line-height-20 {
    line-height: 20px;
}
.line-height-24 {
    line-height: 24px;
}
/* repeated styles */
button::after,
button::before {
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.nav-links.active-menu {
    display: block;
}
/* start header */
/* start navbar */
nav {
    padding: 27px 0 31px;
}
nav .logo-wrapper .logo{
    width: 126px;
    height: 33px;
}
nav .logo-wrapper .menu {
    right: 0;
    display: none;
}
nav .logo-wrapper .menu img{
    width: 30px;
    height: 30px;
}
nav ul li a {
    margin: 0 12px;
    padding: 12px;
}
nav ul li a:hover{
    color: var(--main-blue);
}
nav ul li a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: var(--main-blue);
    left: 0;
    bottom: -31px;
    width: 100%;
    opacity: 0;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
nav ul li a:hover::after{
    opacity: 1;
}
nav ul li:last-of-type a{
    margin-right: 0;
}
nav ul li a.active{
    color: var(--main-blue);
}
/* start intro banner */
.intro-banner {
    padding: 284px 0;
    background-image: url(../images/bg/priscilla-du-preez-XkKCui44iM0-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.intro-content-wrapper {
    max-width: 600px;
    margin: 0 auto;
}
.intro-content-wrapper h1{
    font-size: 60px;
    margin-bottom: 39px;
}
.intro-content-wrapper button{
    border: 1px solid var(--main-white);
    padding: 17px 38px;
}
.intro-content-wrapper button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: var(--main-white);
}
.intro-content-wrapper button:hover::after{
    opacity: 1;
}
/* services section */
.services {
    padding: 130px 0;
}
.services-wrapper .unit {
    max-width: 235px;
    margin-right: 20px;
}
.services-wrapper .unit:last-of-type {
    margin-right: 0;
}
.services-wrapper .unit img{
    margin-bottom: 54px;
}
.services-wrapper .unit h1 {
    margin-bottom: 46px;
}
.services-wrapper h1:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.services-wrapper .unit h1::after{
    bottom: -24px;
}
/* start tabs section */
.tabs {
    padding-top: 52px;
}
.tabbed {
    max-width: 970px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.tabbed input{
    display: none;
}
.tabbed label{
    width: 485px;
    padding: 17px 0;
    border: 1px solid #c8cdce;
}
.tabs-wrapper {
    margin-top: 85px;
}
.tabs-wrapper .tab-content {
    display: none;
}
.tabbed input:first-of-type:checked ~ .tabs-wrapper .tab-content:first-of-type,
.tabbed input:last-of-type:checked ~ .tabs-wrapper .tab-content:last-of-type {
    display: flex;
}
.tabbed input:first-of-type:checked ~  label:first-of-type::before,
.tabbed input:last-of-type:checked ~  label:last-of-type::before {
     content: "";
     position: absolute;
     left: 50%;
     bottom: -8px;
     right: 0;
     height: 8px;
     width: 14px;
     background-image: url(../images/icons/arrow-bottom.png);
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}
/* checked state one labels  */
.tabbed input:first-of-type:checked ~  label:first-of-type ,
 .tabbed input:last-of-type:checked ~  label:last-of-type  {
    border-color: #00e1ff;
    cursor: default;
 }
 .tabbed input:first-of-type:checked ~  label:last-of-type {
     border-left: none;
 }
 .tabbed input:last-of-type:checked ~  label:first-of-type {
    border-right: none;
 }
.tab-image {
    width: 370px;
    height: 390px;
    margin-right: 84px;
}
.tab-image img{
    object-fit: cover;
}
.tab-content .content {
    width: 560px;
    align-self: stretch;
}
.tab-content .content h1 {
    margin-bottom: 34px;
}
.tab-content .content p {
    margin-bottom: 37px;
}
.tab-content .content button {
    padding: 17px 38px;
    border: 1px solid var(--main-blue);
}
.tab-content .content button::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: var(--main-blue);
}
.tab-content .content button:hover::after{
    opacity: 1;
}

 /* start modern and clean design section */
 .modern-design {
     padding-top: 103px;
 }
.modern-design-content {
    max-width: 747px;
    margin: 0 auto 117px;
}
.modern-design-content h1 {
    margin-bottom: 60px;
}
.modern-design-content h1:after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.modern-img-wrapper {
    max-width: 978px;
    height: 376px;
}
.modern-img-wrapper img {
    object-fit: cover;
}

/* start timeline section */
.timeline {
    padding: 100px 0 53px;
}
.timeline-unit {
    max-width: 745px;
    margin: 0 auto;
}
.timeline-unit .unit-title {
    width: 180px;
    margin-right: 60px;
}
.timeline-unit .unit-title h1{
    margin-bottom: 11px;
}
.timeline-unit .unit-title p{
    align-self: flex-end;
    color: #c8cdce;
}
.timeline-unit .unit-description {
    max-width: 533px;
    padding: 0 0 37px 66px;
    border-left: 1px solid var(--light-grey);   
}
.timeline-unit:last-of-type .unit-description {
    border-left: none;
}
.timeline-unit .unit-description:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: -8.5px;
    background-color: var(--main-white);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid var(--main-blue);
}
.timeline-unit .unit-description h1{
    margin-bottom: 26px;
}
.timeline-unit .unit-description p{
    margin-bottom: 15px;
}
/* start portfolio section */
.portfolio {
    padding-top: 91px;
    padding-bottom: 50px;
    overflow: hidden;
}
.portfolio-content-wrapper {
    max-width: 745px;
    margin: 0 auto 80px;
}
.portfolio-content-wrapper h1 {
    margin-bottom: 60px;
}
.portfolio-content-wrapper h1::after{
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.portfolio-content-wrapper p {
    color: #444444;
}
/* categories */
.portfolio ul {
    margin-bottom: 58px;
}
.portfolio ul li a {
    padding: 20px 24px;
    margin-right: 27px;
    border: 1px solid transparent;
}
.portfolio ul li:last-of-type a {
    margin-right: 0;
}
ul li a:hover{
    border-color: var(--main-blue);
}
/* portfolio slider */
.slides-wrapper .slide {
    margin-right: 10px;
    width: 470px;
}
/* overlay div */
.slides-wrapper .slide .img-overlay {
    height: 300px;
    top: 0;
    background-color: rgba(0, 225, 255, 0.377);
    opacity: 0;
}
.slides-wrapper .slide .img-overlay:hover{
    opacity: 1;
}
/* plus icon */
.slides-wrapper .slide .img-overlay img{
    width: 87px;
    height: 87px;
}
.slides-wrapper .slide img {
    height: 300px;
    margin-bottom: 33px;
    object-fit: cover;
}

.slides-wrapper .slide .slide-content {
    padding-bottom: 44px;
    width: 234px;
    margin: 0 auto;
}
.slides-wrapper .slide .slide-content h1 {
    margin-bottom: 51px;
}
.slides-wrapper .slide .slide-content h1::after{
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -26px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
/* start video section */
.video {
    padding: 200px 0 170px;
}
.video-content-wrapper {
    width: 747px;
    margin-bottom: 70px;
}
.video-content-wrapper h1{
    margin-bottom: 53px;
}
.video-content-wrapper h1::after{
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
.video-icon-wrapper p {
    margin-bottom: 20px;
}
.video-icon-wrapper a:hover > img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* start stats section */
.single-stat {
    width: 200px;
    padding: 80px 0 85px;
}
.single-stat img {
    width: 66px;
    height: 70px;
    margin-bottom: 45px;
}
.single-stat p:first-of-type {
    margin-bottom: 25px;
}
/* start users section */
.users {
    padding: 97px 0 96px;
}
.users-intro {
    width: 747px;
    margin: 0 auto;
    margin-bottom: 90px;
}
.users-intro p {
    color: #444444;
}
.users-intro h1 {
    margin-bottom: 60px;
}
.users-intro h1::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
/* users wrapper */
.users-wrapper {
    flex-wrap: wrap;
}
.users-wrapper .single-user {
    width: 269px;
    margin-right: 31px;
}
.users-wrapper .single-user:last-of-type{
    margin-right: 0;
}
.users-wrapper .single-user .user-img-wrapper {
    height: 200px;
}
/* user's name and title */
.user-info {
    bottom: 0;
}
.user-info {
    padding: 7px 0 13px;
    background-color: #1c1d1e;
}
.user-info h1 {
    margin-bottom: 12px;
}
.user-description {
    padding: 34px 27px 28px;
    margin-bottom: 1px;
}
/* user's social icons */
.user-social-icons a{
    width: calc(25% - 1px);
    margin-right: 1px;
    height: 56px;
    background-repeat: no-repeat;
    background-position: center;
}
.user-social-icons .facebook{
    background-image: url(../images/icons/facebook-grey.png);
}
.user-social-icons .twitter{
    background-image: url(../images/icons/twitter-grey.png);
}
.user-social-icons .google{
    background-image: url(../images/icons/google-grey.png);
}
.user-social-icons .dribble{
    background-image: url(../images/icons/dribble-grey.png);
}
/* hover state */
.user-social-icons .facebook:hover{
    background-image: url(../images/icons/facebook.png);
    background-color: #36609e;
}
.user-social-icons .twitter:hover{
    background-image: url(../images/icons/twitter.png);
    background-color: #2ca9e1;
}
.user-social-icons .google:hover{
    background-image: url(../images/icons/google.png);
    background-color: #db5442;
}
.user-social-icons .dribble:hover{
    background-image: url(../images/icons/dribble.png);
    background-color: #ee558e;
}
/* about ket section */
.about {
    padding: 92px 0;
}
.about-img-wrapper {
    width: 570px;
    align-self: stretch;
}
.about-img-wrapper img {
    object-fit: cover;
}
.about-content-wrapper {
    width: 568px;
    padding: 38px 31px 46px 27px;
    border: 1px solid #c8cdce;
    align-self: stretch;
}
.about-content-wrapper h1{
    margin-bottom: 45px;
}
.about-content-wrapper p:first-of-type {
    margin-bottom: 18px;
}
/* start testimonials section */
.testimonials {
    padding: 94px 0;
}
.testimonials-wrapper{
    max-width: 350px;
    margin: 0 auto 49px;
}
.testimonials-slide {
    padding-top: 20px;
}
.testimonials-slide .client-number {
    width: 26px;
    height: 26px;
    margin-bottom: 14px;
    background-color: var(--main-blue);
}
.testimonials-slide .client-number::after{
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border: 1px solid var(--main-blue);
    padding: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonials-slide > p {
    margin-bottom: 17px;
}
.slick-initialized .slick-slide {
    display: flex;
}
/* arrows */
.arrows-wrapper .arrow-left:hover,
.arrows-wrapper .arrow-right:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.arrows-wrapper .arrow-left {
    margin-right: 31px;
}
/* start our news section */
.our-news {
    padding: 87px 0 92px;
}
.our-news-intro {
    max-width: 747px;
    margin: 0 auto 50px;
}
.our-news-intro h1 {
    margin-bottom: 61px;
}
.our-news-intro h1::after{
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
/* news */
.single-new .single-new-date {
    margin-right: 35px;
}
.single-new .single-new-date p {
    font-size: 66.59px;
}
.single-new .single-new-content {
    max-width: 667px;
    padding: 65px 0 55px 0;
    align-self: stretch;
    justify-content: space-around;
    border-bottom: 2px solid #edf2f6;
}
.single-new .single-new-content a {
    color: var(--main-blue);
    align-self: flex-end;
    bottom: 18px;
    right: 15px;
}
/* start second modern design section */
.modern-screens {
    /* background-image: url(../images/bg/Screens.png);
    background-repeat: no-repeat;
    background-position: 190px 90px; */
    padding: 139px 0 0;
}
.modern-screens-content {
    width: 670px;
    margin-left: -180px;
    align-self: stretch;
    margin-top: 67px;
}
.modern-screens-content h1 {
    margin-bottom: 60px;
    font-size: 25px;
}
.modern-screens-content h1::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 2px;
    background-color: var(--main-blue);
    left: 0;
    bottom: -30px;
}
.modern-screens-image {
    width: 746px;
}
.modern-screens-image img {
    object-fit: cover;
}

/* start clients comments */
.clients-comments {
    padding: 90px 0;
}
.clients-comments-intro {
    max-width: 747px;
    margin: 0 auto;
    margin-bottom: 93px;
}
.clients-comments-intro h1 {
    margin-bottom: 62px;
}
.clients-comments-intro h1::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.comments-wrapper .single-comment {
    max-width: 370px;
    border: 1px solid #c8cdce;
    padding: 44px 40px;
    margin-right: 30px;
}
.comments-wrapper .single-comment:last-of-type {
    margin-right: 0;
}
.comments-wrapper .single-comment h1 {
    margin-bottom: 11px;
}
.comments-wrapper .single-comment p:first-of-type {
    margin-bottom: 29px;
}
/* start subscribtion section */
.subscribtion {
    padding: 93px 0;
}
.subscription-wrapper p {
    margin-bottom: 43px;
}
.subscription-wrapper button {
    border: 1px solid var(--main-blue);
    padding: 16px 55px;
}
.subscription-wrapper button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
    background-color: var(--main-blue);
}
.subscription-wrapper button:hover::after {
    opacity: 1;
}
/* start contact-us section */
.contact-us {
    padding: 90px 0;
}
.contact-us-intro {
    max-width: 747px;
    margin: 0 auto 90px;
}
.contact-us-intro h1 {
    margin-bottom: 61px;
}
.contact-us-intro h1::after {
    content: "";
    position: absolute;
    width: 170px;
    height: 2px;
    background-color: var(--main-blue);
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}
form {
    width: 770px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.form-group::after,
.form-group::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    bottom: 0;
    background-color: var(--main-white);
}
.form-group::before {
    left: 0;
}
.form-group::after {
    right: 0;
}
.form-group input[type=text],
.form-group input[type=email] {
    padding: 19px 26px;
    border-bottom: 1px solid var(--main-white);
}
.form-group input[type=text]:focus,
.form-group input[type=email]:focus{
    border-bottom-color: var(--main-blue);
}
.form-group input[type=text]:focus .form-group::before,
.form-group input[type=email]:focus .form-group::after {
    background-color: var(--main-blue);
}
.form-group input::placeholder{
    color: var(--main-white);
}
.form-group:first-of-type {
    margin-right: 30px;   
}
.form-group:first-of-type,
.form-group:nth-of-type(2) {
    width: 370px;
    margin-bottom: 80px;
}
.form-group:nth-of-type(3) {
    margin-bottom: 36px;
}
.form-group:last-of-type::before,
.form-group:last-of-type::after {
    display: none;
}
.form-group input[type=text]:last-of-type {
    width: 770px;
}
.form-group .submit {
    padding: 17px 38px;
    border: 1px solid var(--main-blue);
}
 .submit:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--main-blue);
    bottom: 0;
    left: 0;
    opacity: 0;
}
.submit:hover::before {
    opacity: 1;
}
/* start footer */
footer {
    padding: 47px 0;
}

/* start media queries */
@media only screen and (max-width: 1200px) {
    .container {
        width: 900px;
    }
    /* start nav */
    nav ul li a {
        margin: 0 5px;
    }
    /* start banner section */
    .intro-banner {
        padding: 165px 0;
    }
    /* start services section */
    .services-wrapper .unit {
        max-width: 190px;
    }
    .services-wrapper .unit img {
        margin-bottom: 45px;
    }
    .tabbed label {
        width: 380px;
    }
    .tab-image {
        width: 280px;
        height: 320px;
        margin-right: 30px;
    }
    .tab-image img {
        object-fit: fill;
    }
    .tab-content .content {
        width: 500px;
    }
    .tab-content .content button {
        padding: 15px 25px;
    }
    /* start modern and clean design section */
    .modern-img-wrapper {
        max-width: 900px;
        height: 300px;
    }
    /* start timeline section */
    .timeline-unit .unit-description {
        max-width: 500px;
        padding: 0 0 37px 50px;
    }
    .timeline-unit .unit-title { 
        margin-right: 50px;
    }
    /* start video section */
    .video {
        padding: 100px 0 70px;
    }
    /* start stats section */
    .single-stat {
        padding: 60px 0;
    }
    .single-stat img {
        margin-bottom: 30px;
    }
    .single-stat p:first-of-type {
        margin-bottom: 15px;
    }
    /* start ueser section */
    .users-wrapper .single-user {
        width: 200px;
        margin-right: 20px;
    }
    .user-description {
        padding: 20px
    }
    /* start about kit */
    .about-img-wrapper {
        width: 500px;
        margin-right: 20px;
    }
    .about-content-wrapper {
        width: 500px;
    }
    /* start check our news section */
    .single-new .single-new-date {
        margin-right: 25px;
    }
    .single-new .single-new-content {
        max-width: 600px;
    }
    /* start modern screens section */
    .modern-screens {
        padding: 100px 0 0;
    }
    .modern-screens-content {
        margin-top: 40px;
    }
    /* start clients comments section */
    .comments-wrapper .single-comment {
        padding: 35px 30px;
        margin-right: 25px;
    }
}

/* less than 992px viewport */
@media only screen and (max-width: 992px){
    .container {
        width: 750px;
    }
    /* start nav */
    nav ul li a {
        padding: 8px;
    }
    /* start header banner */
    .intro-content-wrapper h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
    /* start services section */
    .services {
        padding: 40px 0;
    }
    .services-wrapper .unit {
        max-width: 170px;
    }
    .services-wrapper .unit img {
        margin-bottom: 20px;
        width: 45px;
        height: 45px;
    }
    .services-wrapper .unit h1 {
        margin-bottom: 35px;
    }
    .services-wrapper .unit h1::after {
        bottom: -15px;
    }
    /* start tabs section */
    .tabbed label {
        width: 350px;
    }
    .tabs-wrapper {
        margin-top: 70px;
    }
    .tab-image {
        margin: 0 0 25px 0;
    }
    .tab-content .content {
        width: 400px;
    }
    .tab-content .content h1 {
        margin-bottom: 25px;
        font-size: 30px;
    }
    .tab-content .content p {
        margin-bottom: 15px;
    }
    .tab-content .content button {
        padding: 10px 15px;
    }
    /* start modern and clean design section */
    .modern-design-content {
        max-width: 650px;
    }
    .modern-img-wrapper {
        height: auto;
    }
    /* start timeline section */
    .timeline {
        padding-top: 80px;
    }
    /* start portfolio section */
    .portfolio-content-wrapper {
        max-width: 650px;
        margin: 0 auto 55px;
    }
    .slides-wrapper .slide img {
        height: 230px;
    }
    .slides-wrapper .slide .img-overlay {
        height: 230px;
    }
    .slides-wrapper .slide img {
        height: 230px;
        margin-bottom: 25px;
    }
    .slides-wrapper .slide .img-overlay img {
        width: 70px;
        height: 70px;
    }
    .slides-wrapper .slide .slide-content {
        width: 200px;
        padding-bottom: 30px;
    }
    .slides-wrapper .slide .slide-content h1 {
        margin-bottom: 35px;
    }
    .slides-wrapper .slide .slide-content h1::after {
        bottom: -15px;
    }
    /* start video section */
    .video {
        padding: 100px 0 70px;
    }
    .video-content-wrapper {
        width: 650px;
    }
    /* start stats section */
    /* icons size */
    .single-stat {
        padding: 40px 0;
    }
    .single-stat img {
        width: 55px;
        height: 55px;
        margin-bottom: 20px;
    }
    .single-stat p:first-of-type {
        font-size: 30px;
        margin-bottom: 15px;
    }
    /* start users section */
    .users-intro {
        width: 650px;
        margin-bottom: 50px;
    }
    .users-wrapper .single-user {
        width: 250px;
        margin: 0 0 20px 0
    }
    .users-wrapper .single-user:nth-of-type(odd) {
        margin-right: 20px;
    }
    .users-wrapper .single-user:last-of-type {
        width: 250px;
    }
    /* start about section */
    .about {
        padding: 50px 0;
    }
    .about-wrapper {
        justify-content: center;
    }
    .about-img-wrapper,
    .about-content-wrapper {
        width: 300px;
    }
    .about-content-wrapper {
        padding: 20px;  
    }
    .about-content-wrapper h1 {
        margin-bottom: 15px;
    }
    /* start testimonials section */
    .testimonials {
        padding: 35px 0;
    }
    /* start news section */
    .our-news {
        padding: 55px 0 60px;
    }
    .our-news-intro {
        width: 650px;
        margin: 0 auto 20px;
    }  
    .single-new .single-new-content {
        max-width: 500px;
    }
    /* start modern design section */
    .modern-screens {
        padding: 60px 0 0;
    }
    .modern-screens-content {
        width: 550px;
        margin-top: 20px;
    }
    /* start clients comments section */
    .clients-comments {
        padding: 50px 0;
    }
    .clients-comments-intro {
        max-width: 650px;
        margin-bottom: 40px;
    }
    .comments-wrapper .single-comment {
        max-width: 200px;
        padding: 20px;
        margin-right: 20px;
    }
    /* start subscribtion section */
    .subscribtion {
        padding: 50px 0;
    }
    /* start contact-us & form */
    .contact-us {
        padding: 60px 0;
    }
    .contact-us-intro {
        max-width: 650px;
        margin: 0 auto 50px;
    }
    .contact-us form {
        width: 700px;
    }
    .form-group:first-of-type, .form-group:nth-of-type(2) {
        width: 340px;
    }
    .form-group:first-of-type {
        margin-right: 10px;
    }
    .form-group input[type=text]:last-of-type {
        width: 690px;
    }
    .form-group .submit {
        padding: 15px 15px;
        margin-right: 10px;
    }
}

/* start less than 768px viewport */
@media only screen and (max-width: 768px){
    .container {
        width: 100%;
        padding: 0 15px;
    }
    /* start navbar section */
    .navbar {
        align-items: flex-start;
        flex-direction: column;
    }
    .navbar .logo-wrapper .menu {
        display: block;
    }
    .nav-links {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        display: none;
        top: 91px;
        position: absolute;
        background-color: var(--main-white)
    }
    .nav-links li{
       justify-content: flex-start; 
    }
    /* start intro banner section */
    .intro-banner {
        padding: 100px 0;
        background-position: center -130px;
    }
    .intro-banner h1 {
        font-size: 35px;
    }
    .intro-content-wrapper button {
        padding: 10px 20px;
    }
    /* start services section */
    .services-wrapper {
        flex-direction: column;
    }
    .services-wrapper .unit {
        max-width: 100%;
        margin-right: 0;
        margin: 0 0 20px 0;
    }
    /* start tabs section */
    .tabs {
        padding: 20px;
    }
    .tabbed label {
        width: 200px;
    }
    .tabs-wrapper {
        margin-top: 30px;
    }
    .tab-image {
        width: 200px;
        height: 200px;
    }
    .tab-content {
        flex-direction: column;
    }
    .tab-content .content {
        align-items: center;
        width: 100%;
        text-align: center;
    }
    /* start modern and clean design section */
    .modern-design {
        padding-top: 30px;
    }
    .modern-design-content {
        max-width: 100%;
        margin: 0 auto 35px;
    }
    .modern-design-content h1 {
        margin-bottom: 45px;
        font-size: 30px;
        text-align: center;
    }
    /* start timeline section */
    .timeline-unit {
        border-bottom: 1px solid #edf2f6;
        margin-bottom: 15px;
    }
    .timeline-unit .unit-title {
        width: auto;
    }
    .timeline-unit .unit-description {
        max-width: 400px;
        padding-left: 0;
        padding: 0 0 15px 50px;
    }
    .timeline-unit .unit-description:before {
        display: none;
    }
    /* start portfolio section */
    .portfolio ul {
        margin-bottom: 30px;
    }
    .portfolio ul li {
        margin-bottom: 10px;
    }
    .portfolio ul li a{
        margin-right: 0;
        padding: 5px 10px;
    }
    .portfolio-content-wrapper {
        max-width: 100%;
        margin: 0 auto 25px;
    }
    .portfolio-content-wrapper h1 {
        margin-bottom: 45px;
        font-size: 35px;
    }
    .portfolio-content-wrapper h1::after {
        bottom: -15px;
    }
    .slides-wrapper .slide .slide-content {
        width: 100%;
    }
    /* start video section */
    .video-content-wrapper {
        width: 100%;
        margin-bottom: 40px;
    }
    .video-content-wrapper h1 {
        font-size: 35px;
    }
    /* start stats section */
    .stats-wrapper {
        flex-direction: column;
    }
    .single-stat {
        padding: 20px 0;
    }
    .single-stat p:first-of-type {
        font-size: 25px;
        margin-bottom: 10px;
    }
    /* start users section */
    .users {
        padding: 45px 0;
    }
    .users-intro {
        width: 100%;
        margin-bottom: 30px;
    }
    .users-intro h1 {
        margin-bottom: 40px;
    }
    .users-intro h1::after {
        bottom: -15px;
    }
    .users-wrapper {
        flex-direction: column;
    }
    .users-wrapper .single-user:nth-of-type(odd) {
        margin-right: 0;
    }
    .user-social-icons a {
        margin-right: 1px;
        width: calc(25% - 1px);
    }
    /* start about section */
    .about {
        padding: 20px 0;
    }
    .about-wrapper {
        flex-direction: column;
    }
    .about-img-wrapper {
        margin-bottom: 10px;
    }
    .about-img-wrapper,
    .about-content-wrapper {
        width: 100%;
    }
    .about-content-wrapper {
        border: none;
    }
    /* start testimonials section */
    .testimonials-wrapper {
        max-width: 100%;
        margin: 0 auto 20px;
    }
    /* start news section */
    .our-news-intro {
        width: 100%;
    }
    .single-new .single-new-content {
        max-width: 100%;
    }
    .single-new .single-new-date p {
        font-size: 40px;
    }
    /* start modern design section */
    .modern-screens {
        padding: 20px 0;
    }
    .modern-screens-wrapper {
        flex-direction: column;
    }
    .modern-screens-image,
    .modern-screens-content {
        width: 100%;
    }
    .modern-screens-image {
        display: none;
    }
    .modern-screens-content {
        margin-left: 0;
        align-items: center;
        text-align: center;
    }
    .modern-screens-content h1 {
        margin-bottom: 20px;
    }
    .modern-screens-content h1::after {
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .modern-screens-content p {
        line-height: 24px;
    }
    /* start clients comments section */
    .clients-comments {
        padding: 30px 0;
    }
    .clients-comments h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }
    .clients-comments-intro h1::after {
        bottom: -10px;
    }
    .comments-wrapper {
        flex-direction: column;
    }
    .comments-wrapper .single-comment {
        max-width: 100%;
        align-items: center;
        border: none;
        border-bottom: 1px solid #ece9e9;
    }
    .comments-wrapper .single-comment h1 {
        font-size: 20px;
    }
    .comments-wrapper .single-comment p:first-of-type {
        margin-bottom: 15px;
    }
    /* start subscribtion section */
    .subscribtion {
        padding: 30px 0;
        text-align: center;
    }
    .subscription-wrapper p {
        margin-bottom: 25px;
    }
    .subscription-wrapper button {
        padding: 10px 35px;
    }
    /* start contact-us section */
    .contact-us {
        padding: 30px 0;
    }
    .contact-us-intro h1 {
        font-size: 35px;
    }
    .contact-us form {
        width: 100%;
        justify-content: center;
    }
    .contact-us .form-group {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .contact-us .form-group:nth-of-type(3){
        margin-bottom: 30px;
    }
    .form-group .submit {
        margin-right: 0;
        padding: 10px;
    }
    footer {
        padding: 20px 0;
    }
    footer .copyright {
        font-size: 12px;
    }
}
/* less than 555px */
@media only screen and (max-width: 555px) {
    .timeline-unit {
        flex-direction: column;
    }
    .timeline-unit .unit-title {
        margin: 0 0 10px 0;
    }
    .timeline-unit .unit-title h1 {
        margin-bottom: 5px;
    }
    .timeline-unit .unit-description {
        border-left: none;
    }
    .video-content-wrapper h1 {
        font-size: 20px;
    }
}
/* less than 470px */
@media only screen and (max-width:470px) {
    .tabbed label {
        margin-bottom: 10px;
        width: 50%;
        font-size: 13px;
    }
    .tabbed input:first-of-type:checked ~  label:last-of-type {
        border-left: 1px solid #c8cdce;
    }
    .tabbed input:last-of-type:checked ~  label:first-of-type {
        border-right: 1px solid #c8cdce;
    }
}
/* xs screens */
@media only screen and (max-width: 450px) {
    .intro-banner h1 {
        margin-bottom: 15px;
    }
    .portfolio ul li a {
        padding: 5px;
    }
    .timeline-unit .unit-description {
        max-width: 100%;
    }
    .intro-banner h1 ,
    .portfolio-content-wrapper h1,
    .portfolio-content-wrapper h1,
    .video-content-wrapper h1,
    .users-intro h1,
    .our-news-intro h1,
    .clients-comments h1,
    .modern-design-content h1,
    .contact-us-intro h1 {
        font-size: 25px;
    }
    .modern-design-content h1 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .modern-design-content h1:after {
        bottom: -20px;
    }
}



